<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome To Ganache</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/static/img/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" action="homepage">
					<span class="login100-form-title p-b-70" style="font-size:36px">
						Welcome to Ganache Dashboard
					</span>
					<span class="login100-form-avatar">
						<img src="/static/img/2.png" alt="AVATAR">
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter ganache host">
						<input class="input100" type="text" name="ganachehost">
						<span class="focus-input100" data-placeholder="http://127.0.0.1:8545"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/main.js"></script>

</body>
</html>
